<aside class="youkyouk-sidebar">
  <ul class="sidebar-menu">
    <li><a href="dashboard.html">Dashboard</a></li>
    <li>
      <a href="projects.html">Projects</a>
      <ul class="submenu">
        <li><a href="#">All Projects</a></li>
        <li><a href="#">New Project</a></li>
        <li><a href="#">Favorites</a></li>
      </ul>
    </li>
    <li>
      <a href="tasks.html">Tasks</a>
      <ul class="submenu">
        <li><a href="#">My Tasks</a></li>
        <li><a href="#">Team Tasks</a></li>
        <li><a href="#">Create Task</a></li>
      </ul>
    </li>
    <li><a href="teams.html">Teams</a></li>
    <li><a href="users.html">Users</a></li>
    <li><a href="reports.html">Reports</a></li>
    <li><a href="settings.html">Settings</a></li>
  </ul>
</aside>
