<template>
  <aside class="w-64 bg-gray-100 dark:bg-gray-900 min-h-screen p-4">
    <nav>
      <ul class="space-y-2">
        <li><a href="/dashboard" class="block py-2 px-3 rounded hover:bg-gray-200 dark:hover:bg-gray-800">{{ $t('dashboard') }}</a></li>
        <li><a href="/projects" class="block py-2 px-3 rounded hover:bg-gray-200 dark:hover:bg-gray-800">{{ $t('projects') }}</a></li>
        <li><a href="/tasks" class="block py-2 px-3 rounded hover:bg-gray-200 dark:hover:bg-gray-800">{{ $t('tasks') }}</a></li>
        <li><a href="/teams" class="block py-2 px-3 rounded hover:bg-gray-200 dark:hover:bg-gray-800">{{ $t('teams') }}</a></li>
        <li><a href="/users" class="block py-2 px-3 rounded hover:bg-gray-200 dark:hover:bg-gray-800">{{ $t('users') }}</a></li>
        <li><a href="/reports" class="block py-2 px-3 rounded hover:bg-gray-200 dark:hover:bg-gray-800">{{ $t('reports') }}</a></li>
        <li><a href="/settings" class="block py-2 px-3 rounded hover:bg-gray-200 dark:hover:bg-gray-800">{{ $t('settings') }}</a></li>
      </ul>
    </nav>
  </aside>
</template>

<script>
export default {
  name: 'Sidebar'
}
</script>
